# Build artifacts
build/
dist/
__pycache__/
.pycache/
path_app/__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Virtual envs
.venv/
venv/

# Logs
logs/*
!logs/.gitkeep

# PyInstaller
*.spec
!path_app.spec

# OS
Thumbs.db
.DS_Store
